.signIn-body{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #a5d49f !important;
}


.contanair {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;


}







.form-box {
    max-width: 400px;
    background: #81d679;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #125c00;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    border-color: #005ce6;
    
    border: 0;
    outline: 2PX;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #81d679;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #81d679;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}

/*Button*/
.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #005ce6;
}























@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.wrapper,
.wrapper .img-area,
.social-icons a,
.buttons button {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);



    box-shadow: -3px -3px 7px #a3a0a0,
        3px 3px 5px #929297;
}

.wrapper {
    position: relative;
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .icon {
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 16px;
}

.wrapper .icon i {
    position: relative;
    z-index: 9;
}

.wrapper .icon.arrow {
    left: 15px;
}

.wrapper .icon.dots {
    right: 15px;
}

.wrapper .img-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-area .inner-area {
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper .name {
    font-size: 23px;
    font-weight: 500;
    color: #000000;
    margin: 10px 0 5px 0;
}

.wrapper .about {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
    text-align: center;


}

.wrapper .social-icons {
    margin: 15px 0 25px 0;
}

.social-icons a {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}

.social-icons a:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #d8ee5d;
    box-shadow: inset -3px -3px 7px #ffffff,
        inset 3px 3px 5px #ceced1;
}

.buttons button:hover:before {
    z-index: -1;
    border-radius: 5px;
}

.social-icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.social-icons a.fb i {
    color: #4267B2;
}

.social-icons a.twitter i {
    color: #1DA1F2;
}

.social-icons a.insta i {
    color: #E1306C;
}

.social-icons a.yt i {
    color: #ff0000;
}

.wrapper .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}

.buttons button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #31344b;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    background-color: darkkhaki;
}

.buttons button:first-child {
    margin-right: 10px;
}

.buttons button:last-child {
    margin-left: 10px;
}

.wrapper .social-share {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}

.social-share .row {
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.social-share .row::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: #e0e6eb;
    margin-left: -25px;
}

.row:first-child::before {
    background: none;
}

.social-share .row i.icon-2 {
    position: absolute;
    left: 0;
    top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
    opacity: 1;
    pointer-events: auto;
}

.inner-area {
    width: 100px;
    margin: 0px auto;
    position: relative;
}









.camera-icon {
    background-color: #a5d49f;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    position: absolute;
    bottom: 10px;
    right: -5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.chat-list {
    width: 30%;
}

.card {
    width: 70%;
    
}

.user-name {
    width: 100%;
}

.user-list:hover {
    background-color: #81d679;
}

.chat-input {
    outline: none;
    width: 100%;
    border-radius: 5px;

}

.chat-user>img {
    border-radius: 20px;
}

.user-name {
    text-align: center;
}

.chat-user {
    width: 100%;
    text-align: center;
    

}
.message-time{
    text-align: end;
    margin-right: 5px;
    opacity: 0.5;
    
}
.chat-img:active{
    opacity: 0.5;
}








.background-color{
    background-color: #81d679 !important;
    color: #125c00 !important;
}
.nav-btn{
    border-radius: 15px;
    padding: 5px;
    background-color: white !important;
}
.nav-btn:hover{
    background-color: #7186fc !important;
}

.dashboard{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body{
    text-align: left;
}

.input-sec{
    width: 500px;
    
}
.blog-sec{
    height: 450px;;
    width: 100%;
    display: flex;
    justify-content: center;

}
.button-bg{
    background-color: #81d679 !important;
    color: 1df264 !important;
}

.button-bg:hover{
    background-color:#7186fc !important;
}








   