.signIn-body{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #a5d49f !important;
}


.contanair {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;


}







.form-box {
    max-width: 400px;
    background: #81d679;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #125c00;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    border-color: #005ce6;
    
    border: 0;
    outline: 2PX;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #81d679;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #81d679;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}

/*Button*/
.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #005ce6;
}


































.chat-list {
    width: 30%;
}

.card {
    width: 70%;
    
}

.user-name {
    width: 100%;
}

.user-list:hover {
    background-color: #81d679;
}

.chat-input {
    outline: none;
    width: 100%;
    border-radius: 5px;

}

.chat-user>img {
    border-radius: 20px;
}

.user-name {
    text-align: center;
}

.chat-user {
    width: 100%;
    text-align: center;
    

}
.message-time{
    text-align: end;
    margin-right: 5px;
    opacity: 0.5;
    
}
.chat-img:active{
    opacity: 0.5;
}








.background-color{
    background-color: #81d679 !important;
    color: #125c00 !important;
}
.nav-btn{
    border-radius: 15px;
    padding: 5px;
    background-color: white !important;
    margin: 3px;
}
.nav-btn:hover{
    background-color: #7186fc !important;
}

.dashboard{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-body{
    text-align: left;
}

.input-sec{
    width: 500px;
    
}
.blog-sec{
    height: 450px;;
    width: 100%;
    display: flex;
    justify-content: center;

}
.button-bg{
    background-color: #81d679 !important;
    color: 1df264 !important;
}

.button-bg:hover{
    background-color:#7186fc !important;
}
.main{
  margin-top: 20px !important;
}
.profile{
    border-radius: 50px !important;
}
.card-body img{
 border: 2px solid #7186fc ;
 border-radius: 50%;
 object-fit: cover;
 height: 100px;
 width: 100px;

}
.blog-title{
    display: inline-block;
}


.profile-img img{
    width: 200px;
    border: 2px solid #7186fc;
    border-radius: 90px;
   
}
.profile-img{
    text-align: center;
    width: 100px;
    margin: 0px auto;
    position: relative;
    
}

.password-card{
    /* text-align: center; */
    /* display: flex;
    justify-content: center; */
    align-items: center;
}


.camera-icon {
    background-color: #a5d49f;
    width: 50px;
    height: 50px;
    border-radius: 12.5px;
    position: absolute;
    bottom: -10px;
    right: -25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}








